* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.body_oficial {
  background: linear-gradient(to right, #000000, #434343);
  width: 100%;
  height: 100vh;
}

.contenedor_grid {
  width: 100%;
  height: 325px;
  margin: auto;
  font-size: 1000px;
  text-align: center;
  display: grid;
}

.contenedor_grid > div {
  font-size: 60px;
  color: black;
  background-image: url(../assets/Imagenes/Foto-index-casa-para_contenedor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.contenedor_grid > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.contenedor_grid > div > a > button {
  padding: 0.85em 1.5em;
  font-size: 1 em;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: none;
}

.contenedor_grid a :hover {
  transform: scale(1.5);
  color: black;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  float: left;
  width: 150px;
  margin-top: 5px;
  border-radius: 50%;
  border: black 1px solid;
  transform: translate(5px);
}

.nav-link {
  color: #ffffff;
}

.container_redes {
  width: 100%;
  margin-right: 50px;
  margin-top: 5px;
  padding: 15px;
  font-size: 5px;
  text-align: right;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: right;
}

.bi-instagram {
  padding: 10px;
}

.bi-instagram:hover {
  color: #000000;
}

.bi-facebook:hover {
  color: #000000;
}

.dropdown-menu {
  background-color: none;
}

.boton_enviar {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: #434343;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
  margin-left: 15px;
  font-size: smaller;
}

.boton_enviar:hover {
  background-color: white;
  box-shadow: 0 0 0 5px black;
  color: black;
}

.btn_venta {
  width: 6.5em;
  height: 2.3em;
  margin: 1.1em;
  background: #434343;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  padding-right: 10px;
}

.btn_venta:hover {
  color: white;
}

.btn_venta:after {
  content: "";
  background: rgb(125, 90, 80);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
  padding-right: 5px;
}

.btn_venta:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}

.fancy {
  background-color: transparent;
  border: 2px solid #434343;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: black;
  background: white;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
  color: black;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
  color: black;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.main_equipo .equipo {
  display: flex;
  padding: 10px;
}

.main_equipo h1 {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: white;
  padding-left: 29%;
}

.main_equipo .equipo {
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.main_equipo .equipo li {
  padding: 5px;
}

.main_equipo .equipo li a {
  color: white;
  text-decoration: none;
}

.main_equipo .equipo .btn button {
  font-weight: 30px;
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 59px;
  transition: 0.3s;
  cursor: pointer;
}

.main_equipo .equipo .btn button:hover {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: black;
  box-shadow: grey;
}

.main_pedrocane h1 {
  display: flex;
  font-size: 60px;
  justify-content: center;
}

div .foto_pedro {
  margin-left: 40%;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  opacity: 65%;
  border: 1px white solid;
}

div .parrafo_pedro {
  font-size: 30px;
  margin-left: 10px;
}

.main_ignaciocane h1 {
  display: flex;
  font-size: 60px;
  justify-content: center;
}

div .foto_nacho {
  margin-left: 40%;
  width: 300px;
  height: 300px;
  opacity: 65%;
  border: 1px white solid;
}

div .parrafo_nacho {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 10px;
}

.slide-in-bck-center {
  animation: slide-in-bck-center 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.main_juancane h1 {
  display: flex;
  font-size: 60px;
  justify-content: center;
}

div .foto_juan {
  margin-left: 40%;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  opacity: 65%;
  border: 1px white solid;
}

.div .parrafo_juan {
  font-size: 30px;
  padding-left: 10px;
}

.libro {
  text-align: center;
  margin-top: 30px;
}

.main_contacto h1 {
  font-size: 3em;
  text-align: center;
}

.nav-link {
  color: #fff;
}

.contacto_cliente {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: bolder;
  color: white;
  margin: 20px;
  margin-bottom: 0%;
  padding: 0%;
}

.input-group-oficial {
  display: inline-block;
  padding: 10px;
}

.input-oficial {
  max-width: 190px;
  height: 44px;
  background-color: rgba(5, 6, 15, 0.0392156863);
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s, background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label-oficial {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input-oficial:hover, .input-oficial:focus, .input-group-oficial:hover .input {
  outline: none;
  border-color: white;
}

.input-group-oficial:hover .label-oficial, .input-oficial:focus {
  color: white;
}

.input_consulta {
  border-radius: 10px;
  width: 800px;
  height: 95px;
  color: black;
  outline: 2px solid white;
  border: 0;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  outline-offset: 3px;
  padding: 15px 1rem;
  transition: 0.25s;
  margin-left: 10px;
}

.input_consulta:focus {
  outline-offset: 5px;
  color: white;
  background-color: black;
}

.contenedor_ubicacion {
  height: 100%;
  width: 100%;
}

.main_galeria h1 {
  display: flex;
  font-size: 45px;
  justify-content: center;
}
.main_galeria div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.main_galeria .grid-gallery .Proyectos_profesionales {
  display: flex;
  flex-direction: column;
}

.main_galeria .grid-gallery .Proyectos_residenciales {
  display: flex;
  flex-direction: column;
}

.grid-gallery__image {
  height: 500px;
  width: 500px;
}

#estilo-footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  transform: translateY(200px);
}

.bi-balloon {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-link {
  color: #ffffff;
}

.main_filosofia h1 {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.juancarloscane {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1 px white;
  text-align: center;
  padding: 5px;
}

.juancarloscane .imagen_juancarlos {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
.juancarloscane .texto_juancarlos {
  font-size: 30px;
  margin-top: 40px;
}

.juancane {
  display: flex;
  flex-direction: row;
  border: solid 1 px white;
  text-align: center;
  padding: 5px;
}

.juancane .imagen_juan {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
.juancane .texto_juan {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.canehijos {
  display: flex;
  flex-direction: row-reverse;
  border: solid 1 px white;
  text-align: center;
  padding: 5px;
}

.canehijos .imagen_canehijos {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
.canehijos .texto_canehijos {
  font-size: 30px;
  margin-top: 40px;
  margin-right: 10px;
}

.main_proyectos h1 {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.main_proyectos p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 25px;
}

.proyecto1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  border: solid 1 px white;
  text-align: center;
  padding: 5px;
}

.proyecto1 .imagen_proyecto1 {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
.proyecto1 .texto_proyecto1 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.proyecto2 {
  display: flex;
  flex-direction: row;
  border: solid 1 px white;
  text-align: center;
  padding: 5px;
}

.proyecto2 .imagen_proyecto2 {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
.proyecto2 .texto_proyecto2 {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.boton_proyectos {
  text-decoration: none;
  margin-left: 500px;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  --hover-shadows: 16px 16px 33px #121212,
                  -16px -16px 33px #303030;
  --accent:white;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s, letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.boton_proyectos:hover {
  box-shadow: var(--hover-shadows);
}

.boton_proyectos:active {
  color: black;
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

.boton_proyectos2 {
  text-decoration: none;
  margin-top: 40px;
  margin-left: 50px;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  --hover-shadows: 16px 16px 33px #121212,
                  -16px -16px 33px #303030;
  --accent: white;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s, letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.boton_proyectos2:hover {
  box-shadow: var(--hover-shadows);
}

.boton_proyectos2:active {
  color: black;
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

.link-style h4 {
  font-size: 20px;
}

.main_servicios h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.botones_Servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_obranueva {
  text-align: center;
}

.main_reformas {
  text-align: center;
}

.main_renderizado {
  text-align: center;
}

.main_galeria_residencia h1 {
  margin-left: 50px;
  text-align: center;
}

.d-block {
  width: 300px;
  height: 500px;
}

@media screen and (min-width: 0) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  .body_oficial {
    background: linear-gradient(to right, #000000, #434343);
    width: 100%;
    height: 100vh;
  }
  .contenedor_grid {
    width: 100%;
    height: 40px;
    display: grid;
    text-align: center;
  }
  .contenedor_grid > div {
    font-size: 30px;
    color: black;
    background-image: url(../assets/Imagenes/Foto-index-casa-para_contenedor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
  .contenedor_grid > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
  }
  .contenedor_grid > div > a > button {
    padding: 0.85em 1.5em;
    font-size: 15px;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: none;
    text-decoration: none;
  }
  .contenedor_grid a :hover {
    transform: scale(1.5);
    color: black;
  }
}
@media screen and (max-width: 992px) {
  .bi-instagram {
    font-size: 20px;
  }
  .bi-facebook {
    font-size: 20px;
  }
  .bi-instagram:hover {
    color: #000000;
  }
  .bi-facebook:hover {
    color: #000000;
  }
  .nav-link {
    color: #ffffff;
  }
}
/*mediaqueries*/
/*0-480 telefono celular -480-960 tablet -960-1328 netbook-basicos*/
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_equipo .equipo {
    display: flex;
    padding: 10px;
  }
  .main_equipo h1 {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 10%;
    padding-left: 29%;
  }
  .main_equipo .equipo {
    list-style: none;
    flex-direction: column;
    align-items: center;
  }
  .main_equipo .equipo li {
    padding: 10px;
  }
  .main_equipo .equipo li a {
    color: white;
    text-decoration: none;
    font-size: 10px;
  }
  .main_equipo .equipo .btn button {
    font-weight: 30px;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 59px;
    transition: 0.3s;
    cursor: pointer;
  }
  .main_equipo .equipo .btn button:hover {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    color: black;
    box-shadow: grey;
  }
  .main_pedrocane h1 {
    display: flex;
    font-size: 16px;
    justify-content: center;
  }
  div .foto_pedro {
    width: 200px;
    height: 200px;
    justify-items: center;
    opacity: 65%;
    border: 1px white solid;
    margin-left: 50px;
  }
  div .parrafo_pedro {
    font-size: 14px;
    text-align: center;
  }
  .main_ignaciocane h1 {
    display: flex;
    font-size: 16px;
    justify-content: center;
  }
  div .foto_nacho {
    width: 200px;
    height: 200px;
    justify-items: center;
    opacity: 65%;
    border: 1px white solid;
    margin-left: 50px;
  }
  div .parrafo_nacho {
    font-size: 14px;
    text-align: center;
  }
  .main_juancane h1 {
    font-size: 16px;
    text-align: center;
  }
  div .foto_juan {
    width: 200px;
    height: 200px;
    justify-items: center;
    opacity: 65%;
    border: 1px white solid;
    margin-left: 50px;
  }
  div .parrafo_juan {
    font-size: 14px;
    text-align: center;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_contacto h1 {
    font-size: 25px;
    text-align: center;
  }
  .input_consulta {
    border-radius: 10px;
    width: 300px;
    height: 90px;
    color: black;
    outline: 2px solid white;
    border: 0;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    outline-offset: 3px;
    padding: 15px 1rem;
    transition: 0.25s;
    margin-left: 10px;
    margin-top: 15px;
  }
  .input_consulta:focus {
    outline-offset: 5px;
    background-color: black;
    color: white;
  }
  .boton_enviar {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    background-color: #434343;
    color: white;
    border: none;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    transition: 0.3s;
    margin-left: 15px;
    margin-top: 15px;
    font-size: smaller;
  }
  .boton_enviar:hover {
    background-color: white;
    box-shadow: 0 0 0 5px black;
    color: black;
  }
  .contenedor_ubicacion h1 {
    font-size: 20px;
  }
  .contenedor_ubicacion {
    height: 30px;
    width: 100%;
    margin-bottom: 50px;
  }
  #botones_link {
    color: black;
    text-decoration: none;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_galeria h1 {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
  .main_galeria .grid-gallery {
    display: flex;
    flex-direction: column;
  }
  .main_galeria .grid-gallery .Proyectos_profesionales {
    display: flex;
    flex-direction: column;
  }
  .main_galeria .grid-gallery .Proyectos_residenciales {
    display: flex;
    flex-direction: column;
  }
  .grid-gallery__image {
    height: 300px;
    width: 300px;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  #estilo-footer {
    bottom: 0;
    font-size: 20px;
    display: flex;
    transform: translateY(100px);
    justify-content: center;
  }
  .bi-balloon {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_filosofia h1 {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .juancarloscane {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    padding: 5px;
  }
  .juancarloscane .imagen_juancarlos {
    border: solid 1 px white;
    margin-top: 40px;
    height: 150px;
    width: 150px;
  }
  .juancarloscane .texto_juancarlos {
    font-size: 10px;
    margin-top: 40px;
  }
  .juancane {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 5px;
  }
  .juancane .imagen_juan {
    border: solid 1 px white;
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }
  .juancane .texto_juan {
    font-size: 10px;
    margin-top: 40px;
  }
  .canehijos {
    display: flex;
    flex-direction: row-reverse;
    border: solid 1 px white;
    text-align: left;
    padding: 5px;
  }
  .canehijos .imagen_canehijos {
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }
  .canehijos .texto_canehijos {
    font-size: 10px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_proyectos h1 {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .main_proyectos p {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    font-size: 15px;
  }
  .proyecto1 {
    display: flex;
    flex-direction: row-reverse;
    border: solid 1 px white;
    text-align: left;
    padding: 5px;
  }
  .proyecto1 .imagen_proyecto1 {
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }
  .proyecto1 .texto_proyecto1 {
    font-size: 15px;
    margin-top: 40px;
  }
  .proyecto2 {
    display: flex;
    flex-direction: row;
    border: solid 1 px white;
    text-align: left;
    padding: 5px;
  }
  .proyecto2 .imagen_proyecto2 {
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }
  .proyecto2 .texto_proyecto2 {
    font-size: 15px;
    margin-top: 40px;
  }
  .boton_proyectos {
    text-decoration: none;
    margin-left: 20px;
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030;
    --accent:white;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s, letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
  }
  .boton_proyectos:hover {
    box-shadow: var(--hover-shadows);
  }
  .boton_proyectos:active {
    color: black;
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
  }
  .boton_proyectos2 {
    text-decoration: none;
    margin-left: 30px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030;
    --accent:white;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s, letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
  }
  .boton_proyectos2:hover {
    box-shadow: var(--hover-shadows);
  }
  .boton_proyectos2:active {
    color: black;
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
  }
  .link-style h4 {
    font-size: 15px;
  }
  .link-style .youtube_proyecto {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_galeria_Residenciales h1 {
    text-align: center;
    font-size: 30px;
  }
  .galeria_residencial {
    display: flex;
    width: 300px;
    margin-left: 50px;
  }
  .imagen_galeria {
    width: 0px;
    flex-grow: 1;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.8;
    transition: 0.5 ease;
  }
  .imagen_galeria:hover {
    cursor: pointer;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_servicios h1 {
    font-size: 25px;
    margin-top: 40px;
    display: flex;
    text-align: center;
  }
  .botones_Servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_obranueva {
    text-align: center;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_renderizado {
    text-align: center;
  }
}
@media screen and (min-width: 0) and (max-width: 480px) {
  .main_reformas {
    text-align: center;
  }
}
@font-face {
  font-family: "Oswald-medium";
  src: url(../fonts/Oswald-Medium.ttf);
}/*# sourceMappingURL=styles.css.map */