
/*mediaqueries*/ 
/*0-480 telefono celular -480-960 tablet -960-1328 netbook-basicos*/


@media screen and (min-width:0) and  (max-width: 480px){



        
        
    .main_equipo .equipo{
            display: flex;
            
            padding: 10px;
            
        }
        
        
.main_equipo h1{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white; 
    padding-top: 10%;

    padding-left: 29%;
}


    .main_equipo .equipo{
            list-style:none;
            flex-direction: column;
            align-items: center;
            
        }
        
    .main_equipo .equipo li{
            padding: 10px;
            
            
        }
        .main_equipo .equipo li a{
            color: white;
            text-decoration:none;
            font-size: 10px;
        }
        
        .main_equipo .equipo .btn button{
            font-weight: 30px;
            color:white;
            background-color:#434343;;
            border: none;
            border-radius: 15px;
            width: 100px;
            height: 59px;
            transition: .3s;
            cursor: pointer; }
            
            .main_equipo .equipo .btn button:hover{
                background-color :white;
                border-radius: 20px;
                padding: 5px;
                color:black;
                box-shadow: grey;
            
            
            }

            .main_pedrocane{
    
                h1{display:flex;
                    font-size: 16px;
                    justify-content: center;
                    }
                    }
            
            
            
            div .foto_pedro{
                width: 200px;
                height:200px;
                justify-items: center;
                opacity: 65%;
                border: 1px white solid; 
                margin-left: 50px;}
        
            
            div .parrafo_pedro{
            font-size: 14px;
            text-align: center;
            
            }

            .main_ignaciocane{
    
                h1{display:flex;
                    font-size: 16px;
                    justify-content: center;
                    }
                    }
        div .foto_nacho{
            width: 200px;
            height:200px;
            justify-items: center;
            opacity: 65%;
            border: 1px white solid; 
            margin-left: 50px;}

        
        
        div .parrafo_nacho{
            font-size: 14px;
            text-align: center;
            
        }


        .main_juancane{
    
            h1{
                font-size: 16px;
                
                text-align: center;
                
                
                }
                }
        

        
        div .foto_juan{
        width: 200px;
        height:200px;
        justify-items: center;
        opacity: 65%;
        border: 1px white solid; 
        margin-left: 50px;}

        
        
        div .parrafo_juan{
        font-size: 14px;
        text-align: center;
        
        }

}


