@media screen and (min-width:0) and  (max-width: 480px){


    #estilo-footer{
        bottom: 0;
        font-size: 20px;
        display: flex;
        transform: translateY(100px);
        justify-content: center;
    }
    
    .bi-balloon{
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        color:white;
    }
    
}