
.main_galeria{
    
    h1{display:flex;
        font-size: 45px;
        justify-content: center; }
            div {display: flex;
                    flex-direction:row;
                    padding:10px ; }
                    
                }
