
$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;



.main_galeria{
    
    h1{display:flex;
        font-size: 45px;
        justify-content: center; }
            div {display: flex;
                    flex-direction:row;
                    justify-content: space-around;
                    padding:10px ; }
                    
                }

.main_galeria .grid-gallery .Proyectos_profesionales {
                    display: flex;
                    flex-direction: column;
                }
.main_galeria .grid-gallery .Proyectos_residenciales {
                    display: flex;
                    flex-direction: column; }


                    .grid-gallery__image{
                        height: 500px;
                        width: 500px;
                    }
