
$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;

    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: $tamaño-letra ;
} 

.body_oficial{
    background: linear-gradient(to right, #000000, #434343);
    width: 100%;
    height: 100vh;
}







.contenedor_grid{
    
        width: 100%;
        height: 325px;
        margin: auto;
        font-size:1000px;
    
        
        text-align: center;
    
        display: grid;    }


.contenedor_grid > div  {
    font-size:60px ;
    
    color:black;
    background-image: url(../assets/Imagenes/Foto-index-casa-para_contenedor.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

.contenedor_grid > div >a {
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    
}

.contenedor_grid > div >a > button{
    padding: 0.85em 1.5em;
    font-size: 1 em;
    color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    

} 



.contenedor_grid a :hover{
    transform: scale(1.5);
    color:black;

}







