@media screen and  (max-width: 992px){


.bi-instagram{
    font-size:20px;
}
.bi-facebook{
font-size: 20px;
} 


.bi-instagram:hover{
    color:#000000; }


.bi-facebook:hover{
        color:#000000; }


.nav-link{
    color: #ffffff;
        }
        
}