$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;



.header_menu{


    display: flex;
    justify-content:space-between;
    
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding: 10px 350px 0px 10px 5px ;
}



.logo img{
    float: left;
    width: 150px;
    margin-top: 5px;
    border-radius: 50%;
    border:$borde-logo;
    transform: translate(5px);
    

}


.header_menu .menu_links{
    list-style: none;
    justify-self: end;

}

.header_menu .menu_links li{
    display: inline-block;
    padding: 5px;
}
.header_menu .menu_links a{
    font-size:  20px;
    

    text-decoration:none;
    color: white;

}



.header_menu .menu_links a:hover{
    color:black;
}

.bi-instagram{
    font-size:30px;
    
}
.bi-facebook{
    
    font-size: 30px;
} 

.header_menu .menu_links .bi-facebook:hover{
    color:black; }


    .header_menu .menu_links .bi-instagram:hover{
        color:black; }

        