$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;



.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo img{
    float: left;
    width: 150px;
    margin-top: 5px;
    border-radius: 50%;
    border:$borde-logo;
    transform: translate(5px);
    

}
.nav-link{
    color: #ffffff;
}



.container_redes{
            width: 100%;
            margin-right: 50px;
            margin-top: 5px;
            padding: 15px;
            font-size: 5px;
            text-align: right;
            border-bottom: 1px solid  #ffffff ;
            display: flex;
            justify-content:right;
            
        
        }
.bi-instagram{
    padding: 10px;
}

.bi-instagram:hover{
            color:#000000; }


.bi-facebook:hover{
                color:#000000; }


.dropdown-menu{
    background-color: none;
}