.main_servicios{
    h1{
        font-size: 40px;
        display: flex;
        justify-content: center; }
}

.botones_Servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
