
@import "index" ;
@import "navbar" ;
@import "botones" ; 
@import "equipo" ;
@import "contacto" ;
@import "galeria" ;
@import "media480" ;
$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;

@font-face {
    font-family:"Oswald-medium";
    src: url(../fonts/Oswald-Medium.ttf);
}



.main_filosofia{
    h1{
        display: flex;
        justify-content: center; }
                    p{
                    display: flex;
                    justify-content:center;
                    margin-left:5px;
                    font-size: 25px;
                }   div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
}








