
@import "index" ;
@import "navbar" ;
@import "botones" ; 
@import "equipo" ;
@import "contacto" ;
@import "galeria" ;
@import "footer" ;
@import"filosofia" ;
@import "proyectos";
@import"servicios" ;


@import "index480" ;
@import "navbar480" ;
@import "botones480" ; 
@import "equipo480" ;
@import "contacto480" ;
@import "galeria480" ;
@import "footer480" ;
@import"filosofia480" ;
@import "proyectos480";

@import"servicios480" ;
@import "obranueva480" ;
@import"renderizado480" ;
@import"reformas480";

$color-black: black;
$tamaño-letra: 20px ;
$color-body:rgb(227, 202, 165);
$color-nav:rgb(206, 171, 147) ;
$bordes-fotos: white 1px solid;
$borde-logo:black 1px solid ;

@font-face {
    font-family:"Oswald-medium";
    src: url(../fonts/Oswald-Medium.ttf);
}






