<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Filosofia</title>
</head>
<body>
    
    <header class="header_menu">
        <div class="logo">
            <img  src="../assets/Logos/sagrada-familia.png" alt="Logo-Estudio de Arquitectura Cane"  >Estudio Cane de Arquitectura
        </div>
        <nav>
            <div>
                <ul class="menu_links">
                    <li><a href="https://www.instagram.com/estudio.cane/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/canejuan"target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a   href="../index.html">Inicio</a></li>
                    <li><a   href="./Filosofia.html">Filosofia</a> </li>
                    <li><a   href="./Equipo.html">Equipo</a> </li>
                    <li><a    href="./Proyectos.html">Proyectos</a></li>
                    <li><a    href="./Servicios.html">Servicios</a></li>
                    <li><a   href="./Contacto.html">Contacto</a>  </li>
                    
                </ul>
        </nav>
    </header>
            <main class="main_filosfia">
                <h1><em>Familia Cane, la arquitectura y el rugby como filosfia de vida </em></h1>
                <section>
                    <br>
                <article class="articulo_abuelo">
                    <h2><em><strong>Abuelo Cane </strong></em></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est enim voluptas neque maxime necessitatibus labore culpa sint modi nihil optio qui laudantium dolor mollitia, magni alias, quas incidunt sit id! Quas optio repellat magnam odit, in veritatis at impedit, eligendi cum voluptate, rerum possimus molestiae autem modi fugit ipsum tempore ea temporibus aliquam eveniet distinctio obcaecati aliquid! Veritatis similique nesciunt eius exercitationem officiis consequuntur itaque, voluptate, earum pariatur corrupti velit. Non tempore natus repellendus quibusdam officiis eligendi animi provident quaerat id, maxime aperiam labore omnis delectus amet itaque recusandae ipsa reprehenderit perferendis facilis consequatur aspernatur excepturi, eaque porro! Repellendus, sed!</p>
                </article>
                <br>
                <article class="articulo_padre">
                    <h2><em>Padre Cane</em></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius possimus voluptate consequatur reiciendis. Ipsam facere molestiae commodi ipsa? Harum quibusdam voluptates eum amet doloremque similique quas architecto, ullam velit voluptatem itaque dolores in, laudantium provident, sit a id placeat aspernatur fugit consequuntur. Sapiente est maiores eos quos temporibus incidunt nostrum! Quae, iusto nulla ut ipsam dolores non harum repellat quaerat eos, sed cum amet, sint veniam in voluptatibus sequi voluptatem. Ipsum tempora dicta possimus. Fugiat laboriosam harum magni iste quis.
                    </p>
                </article>
                <br>
                <article class="articulo_hijos">
                    <h2><em>Cane Hijos</em></h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas beatae quo officia, maiores laborum sint dolore, quas libero, deleniti omnis rerum? Dolorem nesciunt corrupti harum consequatur exercitationem asperiores amet ab incidunt quo numquam consequuntur corporis, nostrum placeat rerum tenetur commodi blanditiis ipsam. Repellat placeat fugit rem minima! Placeat, perspiciatis rerum!</p>
                </article>
                
            </section>
            <br>
            <br>
            <div class="libro">         
                
                    <h2><em>Libro historia Cane</em></h2>
                    <p>Conoce mas de nuestra historia en este libro ilustrado, contiene desde proyectos,hasta fotos ineditas!</p>
                    <a  href="https://articulo.mercadolibre.com.ar/MLA-867303611-breve-historia-de-la-arquitectura-_JM#position=18&search_layout=stack&type=item&tracking_id=9c0d3f77-1cbf-46b7-9480-e2553c289919" target="_blank" button class="btn_venta"> 
                    </button>Compra!</a>
                
            </div>
            </main>
            <br>
        




            <footer id="estilo-footer">
                Desarrollado por NZ
                <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-balloon"></i></a>
            
        </footer>
</body>
</html>

