<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=" Filosofia, TRABAJO , HISTORIA ,ARQUITECTOS, CORDOBA , FAMILIA CANE , CANE , ESTUDIO DE ARQUITECTURA, PEDRO CANE , JUAN CANE , JUAN CARLOS CANE, IGNACIO CANE ">
    <meta  name="description" content="Toda nuestra historia a tu dispocision, te contamos nuestra experiencia, dedicación y nuestra filosfia de trabajo  que transciende generaciones y toda a tu alcanze y dispocision. ">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Conoce nuestra filosofia de trabajo</title>
</head>
<body class="body_oficial">
    <header>
        <div class="container-fluid">
            <div class="container_redes container-fluid">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
            </div>
            <div>
                <nav class=" navbar navbar-expand-md bg-éxito.bg-gradiente">
                    <a class="navbar-brand logo" ><img src="./assets/Logos/image_6483441.JPG" alt=""> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse "  id="navbarSupportedContent">
                        <ul class="navbar-nav d-flex justify-content-flex-end  " >
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link active item-link" href="#">Filosofia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Equipo.html">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Proyectos.html">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Servicios.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./Contacto.html">Contacto</a>
                        </li>
                        
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
            <main class="main_filosofia"  >
                <h1>Familia Cane, la Arquitectura y el Rugby como filosofia de vida </h1>
                <div class="juancarloscane">
                    <div><img class="imagen_juancarlos" src="../assets/Equipo/abuelocane.jpg" alt=""></div>
                    <div class="texto_juancarlos">
                        <p>
                            JUAN CARLOS CANE:
                            <br>
                            En los años 60 Juan oriundo de Rosario, se enamoro de la arquitectura, durante su juventud mientras transitaba su 4 año de la facultad,decidio que habia llegado el 
                            momento de dedicarse a su profesion, dejo su trabajo a tiempo parcial, y abrio el estudio de Arquitectura Cane, sin saber que iniciaria un legado que persiste hasta hoy,
                            y llegando a construir mas de 600 proyectos.
                        </p></p></div>
                </div>
                    
                    <br>
                    
                    <div class="juancane">
                        <div><img class="imagen_juan" src="../assets/Equipo/juan cane.JPG" alt=""></div>
                        <div class="texto_juan"><p>
                            JUAN CANE :
                            <br>
                            Juan cane, inspirado por la trayectoria de su padre, decidio recojer el guante y seguir construyendo el legado familiar,
                            con la misma pasion  y entusiasmo que su padre, pero no asi con la misma suerte, ya que lo golpearia la crisis del 2001 que lo haria
                            trasladarse a Belvil, al interior de la provincia de Cordoba.
                            Con algunos tumbos propios de la situacion del pais, Juan lograria imponerse a las situaciones abservas y lograria 
                            una vez mas volver a poner en alto el nombre del Estudio de Arquitectura Cane, logrando construir mas de 300 proyectos en su amada Cordoba.

                        </p></div>
                    </div>
                    </div>


                    <div class="canehijos">
                        <div><img class="imagen_canehijos" src="../assets/Equipo/Pedro y nacho.jpg" alt="FOTO"></div>
                        <div class="texto_canehijos"><p>
                            PEDRO E IGNACIO CANE:
                            <br>
                            Pedro e Ignacio Cane, hijos de Juan y nietos de Juan Carlos, solo soñaban con matener el legado 
                            de su abuelo y de su padre, recibidos de la universidad de Cordoba, mantienen la etiqueta de trabajo 
                            hasta el dia de hoy, plasmando los sueños de su abuelo y aplicando la tenacidad y conviccion de su padre,
                            brindan dia a dia el mayor de sus esfuerzos para mantener vivo un sueño que empezo hace muchisimo tiempo, y que
                            sigue vivo dia a dia.
                        </p></div>
                    </div>
                    </div>
            <div class="libro">         
                
                    <h2>Libro historia Cane</h2>
                    <p>Conoce mas de nuestra historia en este libro ilustrado, contiene desde proyectos,hasta fotos ineditas!</p>
                    <div>
                        <a class="fancy"  href="https://articulo.mercadolibre.com.ar/MLA-867303611-breve-historia-de-la-arquitectura-_JM#position=18&search_layout=stack&type=item&tracking_id=9c0d3f77-1cbf-46b7-9480-e2553c289919" target="_blank" >
                            <span class="top-key"></span>
                            <span class="text">Compra!</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                        </a>
                    
                    </div>
            </div>
            </main>
            <br>
        




            <footer id="estilo-footer">
                Desarrollado por NZ
                <a href="" target="blank"><i class="bi bi-balloon"></i></a>
            
        </footer>
</body>
</html>

