<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"  content="Encontra los proyectos, de mas impacto en nuestras galerias">
    <meta name="keywords" content="ARQUITECTOS , ARQUITECTURA, GALERIA, FOTOS DE CASAS , CASA, POLIDEPORTIVO, EDIFICIO, DEPTO, DEPARTAMENTO, ESTUDIO DE ARQUITECTURA, FOTOS DE CASAS, DISEÑO DE INTERIOR">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Descubri nuestros proyectos mas impactantes, en nuestras galerias</title>
</head>
<body class="body_oficial">
    <header>
        <div class="container-fluid">
            <div class="container_redes container-fluid">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
            </div>
            <div>
                <nav class=" navbar navbar-expand-md bg-éxito.bg-gradiente">
                    <a class="navbar-brand logo" href="#"><img src="../assets/Logos/image_6483441.JPG" alt=""> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse "  id="navbarSupportedContent">
                        <ul class="navbar-nav d-flex justify-content-flex-end  " >
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Filosofia.html">Filosofia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./Equipo.html">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Proyectos.html">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Servicios.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./Contacto.html">Contacto</a>
                        </li>
                        
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
            <main class="main_galeria"> 
                <h1>GALERIA DE PROYECTOS</h1>
                
                <div class="grid-gallery" >
                    <div class="Proyectos_residenciales">
                    <a class="grid-gallery__item" href="#">
                        <img class="grid-gallery__image" src="../assets/Imagenes/FOTO-GALERIA-1-CASA.jpg">
                        <a class="fancy" href="./Galeria-proyectos-residenciales.html">
                            <span class="top-key"></span>
                            <span class="text">Galeria de proyectos Residenciales</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                        </a>
                    </a>
                </div>

                    <div class="Proyectos_profesionales">
                    <a class="grid-gallery__item" href="#">
                        <img class="grid-gallery__image" src="../assets/Galeria-Profesionales-/Foto para galeria de polideportiv-Estudio de Arquitectura Cane .jpg">
                        <a class="fancy" href="./Galeria-proyectos-profesionales.html">
                            <span class="top-key"></span>
                            <span class="text">Galeria de proyectos Profesionales</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                        </a>
                    </a>
                </div>
                </div>
                
                
                
            </main>
    <br>
    <footer id="estilo-footer">
        Desarrollado por NZ
        <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-github"></i></a>

    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>