<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Galeria de fotos</title>
</head>
<body>
    <header class="header_menu">
        <div class="logo">
            <img  src="../assets/Logos/sagrada-familia.png" alt="Logo-Estudio de Arquitectura Cane"  >Estudio Cane de Arquitectura
        </div>
    <nav>
        <div>
            <ul class="menu_links">
                <li><a  href="../index.html">Inicio</a></li>
                <li><a  href="./Filosofia.html">Filosofia</a> </li>
                <li><a  href="./Equipo.html">Equipo</a> </li>
                <li><a   href="./Proyectos.html">Proyectos</a></li>
                <li><a  href="./Servicios.html">Servicios</a></li>
                <li><a  href="./Contacto.html">Contacto</a>  </li>
            </ul>
        </div>
    </nav>
    </header>
            <main> 
                <h1>Galeria de Proyectos</h1>
                <br>
                <div class="back-galeria-viviendas">
                    Proyectos de Viviendas
                </div>
                <br>
                <div class="back-galeria-corporativos">
                    Proyectos Corportarivos 
                </div>
                
            </main>
    <br>
            <footer id="estilo-footer" >
                
                Desarrollado por NZ
            
        </footer>
    </body>
    </html>