<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Galeria de fotos</title>
</head>
<body class="body_oficial">
    <header class="header_menu">
        <div class="logo">
            <img  src="../assets/Logos/image_6483441.JPG" alt="Logo-Estudio de Arquitectura Cane"  >
        </div>
        <nav>
            <div>
                <ul class="menu_links">
                    <li><a   href="../index.html">Inicio</a></li>
                    <li><a   href="./Filosofia.html">Filosofia</a> </li>
                    <li><a   href="./Equipo.html">Equipo</a> </li>
                    <li><a    href="./Proyectos.html">Proyectos</a></li>
                    <li><a    href="./Servicios.html">Servicios</a></li>
                    <li><a   href="./Contacto.html">Contacto</a>  </li>
                    <li><a href="https://www.instagram.com/estudio.cane/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/canejuan"target="_blank"><i class="bi bi-facebook"></i></a></li>
                    
                </ul>
        </nav>
    </header>
        <main class="main_juancane">
            <div class="slide-in-bck-center">
            <h1> JUAN CANE</h1>
            <br>
            <div class="presentacion_juan">
                <br>
                <div> <img class="foto_juan" src="../assets/Equipo/juan cane.JPG" alt="Foto Juan Cane-Estudio de Arquitectura Cane"></div>
                <br>
                <div><p class="parrafo_juan">La formación de Arquitecto abre a caminos inverosímiles, el aprendizaje constante es maravilloso, una de las vicisitudes más agraciadas es la relación que se crea con los albañiles y constructores de las obras.
                Históricamente y actualmente en el Estudio trata cada Proyecto, sin importar escala conceptual o quien lo proponga, con el mismo respeto, sinceridad, dedicación y esmero; para lograr una obra “UNICA” en su integración propia, mostrando su naturaleza de materiales y verdadera distinción.
                Acercándome a los 30 años de profesión, en un camino muy dispuesto, durante el cursado de la carrera con experiencias con otros profesionales, empresas e Instituciones, formaciones académicas de cursos y posgrados, beneficiado con un gran hobbies como lo es el RUGBY, el cual aportó considerable formación humana, todo protegido por DIOS y mi FAMILIA, mi esposa y mis dos hijos son mis pilares y luces a seguir en el camino.</div>
                <br>
                
        
            </p>
            </div>
        </div>
    </main>
    <br>
    <footer id="estilo-footer">
        Desarrollado por NZ
        <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-balloon"></i></a>
    
</footer>
</body>
</html>