<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  name="description" content="Solicita tu presupuesto, sin ningun tipo de compromiso, quedara hasta tu disposcion la experiencia de un equipo que trabajo en mas de 600 proyectos">
    <meta  name="keywords" content="ARQUITECTO,ARQUITECTOS,ARQUITECTURA , OBRA NUEVA , RENDERIZADO, DEPTOS, ESTUDIO DE ARQUITECTURA, CORDOBA, REFORMAS ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Hacemos realidad tu proyecto desde 0, con nuestro servicio de obra nueva</title>
</head>
<body class="body_oficial">
    <header>
        <div class="container-fluid">
            <div class="container_redes container-fluid">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
            </div>
            <div>
                <nav class=" navbar navbar-expand-md bg-éxito.bg-gradiente">
                    <a class="navbar-brand logo" href="#"><img src="../assets/Logos/image_6483441.JPG" alt=""> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse "  id="navbarSupportedContent">
                        <ul class="navbar-nav d-flex justify-content-flex-end  " >
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Filosofia.html">Filosofia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./Equipo.html">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Proyectos.html">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active item-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./Contacto.html">Contacto</a>
                        </li>
                        
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
    
        <main class="main_obranueva">
            
                <h1>Obra nueva</h1>
                <p class="parrafo_obranueva">
                    Los mejores proyectos de obra nueva a tu gusto. En Estudio de Arquite Cane, nos centramos siempre en satisfacer las necesidades del cliente con buena arquitectura y al precio más razonable. Esto es posible gracias a nuestra experiencia, volumen de trabajo y metodología.
                    Con más de 600 proyectos realizados abarcamos una gran diversidad tipológica, habiendo construido desde universidades hasta hospitales, guarderías, restaurantes, locales, colegios, complejos turísticos, restauraciones, iglesias, rehabilitaciones y naturalmente viviendas. 
                    Póngase en contacto con nosotros para iniciar los trámites si dispone de un terreno, o si quiere que le encontremos un terreno donde construir su proyecto.
                    <br>
                    <br>
                    <strong>Incluye:</strong>
                    <br>
                    <strong>Proyecto Básico: </strong>
                    -Proyecto Básico personalizado a medida de las necesidades del cliente, teniendo en cuenta el sitio y las normativas legislativas.
                    <br>
                    <br>
                        <strong>Proyecto Ejecutivo+Dirección de Obra+Gestiones Legales:</strong>
                        -Tramitamos la construcción de tu vivienda de principio a fin, haciendo uso de nuestra experiencia y recursos para superar cualquier complicación.
                        -Proyecto Básico y Proyecto Ejecutivo a medida de las necesidades del cliente, teniendo en cuenta el sitio y las normativas legeislativas.
                        -Posibilidad de asignarle contratistas de confianza para la construcción de su vivienda, en caso de que no conozca ninguno.
                        -Dirección de Obra y visitas pertinentes durante la ejecución de la misma.
                        -Gestiones Legales con el ayuntamiento local durante la obra.
                </p>
                    
                    
                    <div class="botones_Servicios">
                            <a class="fancy" href="./Contacto.html">
                                <span class="top-key"></span>
                                <span class="text">PEDI TU PRESUPUESTO SIN COMPROMISO</span>
                                <span class="bottom-key-1"></span>
                                <span class="bottom-key-2"></span>
                            </a>
                    </div>
                    <br>
            <div>
                <footer class="footer_deprecios">
                    <h4>*Los precios mostrados son orientativos, 
                        el precio final dependerá de diversos factores  y se acordará individualmente en cada caso.
                        <br>
                        *Precios con tasas incluidas</h4>
                    </footer>
            </div>
        </main>

        

    
            
    
    </div>
    <footer id="estilo-footer">
        Desarrollado por NZ
        <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-github"></i></a>

    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>