<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Galeria de fotos</title>
</head>
<body>
    <header class="header_menu">
        <div class="logo">
            <img  src="./assets/Logos/sagrada-familia.png" alt="Logo-Estudio de Arquitectura Cane"  ><p class="titulo">Estudio Cane de Arquitectura</p>
            
        </div>
        <nav>
            <div>
                <ul class="menu_links">
                    <li><a href="https://www.instagram.com/estudio.cane/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/canejuan"target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a   href="../index.html">Inicio</a></li>
                    <li><a   href="./Filosofia.html">Filosofia</a> </li>
                    <li><a   href="./Equipo.html">Equipo</a> </li>
                    <li><a    href="./Proyectos.html">Proyectos</a></li>
                    <li><a    href="./Servicios.html">Servicios</a></li>
                    <li><a   href="./Contacto.html">Contacto</a>  </li>
                    
                </ul>
        </nav>
    </header>
            <h1>Proyectos</h1>
            <div>
                <p>
                    
    En el Estudio Cane de Arquitectura , nos centramos siempre en satisfacer las necesidades del cliente con buena arquitectura y al precio más razonable. Esto es posible gracias a nuestra experiencia, volumen de trabajo y metodología. Con más de 600 proyectos realizados abarcamos una gran diversidad tipológica, habiendo construido  desde discotecas hasta bancos, polide, locales, consultorios medicos, restauraciones, rehabilitaciones y naturalmente viviendas unifamiliares y plurifamiliares. A continuación, mostramos algunos de nuestros proyectos.
                </p>
            </div>
        <main class="main_proyectos">
            
                        <img src="../assets/Imagenes/Foto de casa -Estudio de Arquitectura Cane .webp" class="card-img-top" alt="Imagen de Cane-Proyectos1." width="450px">
                        <div class="card-body" >
                        <h5 class="card-title">Casa</h5>
                        <p class="card-text">Casa construida, en 2009 con grandes dimensiones y preferentemente pensada para la vivienda de varias personas por sus dimensiones</p>
                        <a  href="./Contacto.html" button class="btn_venta"> 
                        </button>Pedi presupuesto para tu proyecto!</a>
                        </div>
                    </div>
                    <br>
                
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Imagenes/Foto Edificio- Estudio de Arquitectura Cane .webp" class="card-img-top" alt="Imagen de Cane-Proyectos2." width="450px">
                    <div class="card-body" >
                    <h5 class="card-title">Edificio</h5>
                    <p class="card-text">Edificio construido en 2006, con acabados rumanos y balcones flotantes </p>
                    <a  href="./Contacto.html" button class="btn_venta"> 
                    </button>Pedi presupuesto para tu proyecto!</a>
                    </div>
                </div>
                <br>
                    <h4>Conoce como es uno de nuestros proyectos desde adentro !</h4>
                    <iframe class="link-style" width="560" height="315" src="https://www.youtube.com/embed/iq47CalZLSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
                <a  href="./Galeria.html" button class="btn_venta"> 
                </button>Galeria de Proyectos</a>
            </main>
        

    <br>


    <footer id="estilo-footer">
        Desarrollado por NZ
        <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-balloon"></i></a>
    
</footer>
</body>
</html>

