<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Servicios</title>
</head>

<body>
    <header class="header_menu">
        <div class="logo">
            <img  src="../assets/Logos/sagrada-familia.png" alt="Logo-Estudio de Arquitectura Cane"  >
        </div>
    <nav>
        <div>
            <ul class="menu_links">
                <li><a  href="../index.html">Inicio</a></li>
                <li><a  href="./Filosofia.html">Filosofia</a> </li>
                <li><a  href="./Equipo.html">Equipo</a> </li>
                <li><a   href="./Proyectos.html">Proyectos</a></li>
                <li><a  href="./Servicios.html">Servicios</a></li>
                <li><a  href="./Contacto.html">Contacto</a>  </li>
            </ul>
        </div>
    </nav>
    </header>
        <main>
            <div id="grilla">
                <header id="banner" class="border">Todos los servicios</header>
                <section id="obra_nueva" class="border">Obra nueva</section>
                <section id="renderizado" class="border">Renderizado </section>
                <section id="reformas" class="border"> Reformas</section>
            </div>
                <div>
                    <footer id="estilos-footer">
                        <h4>*Los precios mostrados son orientativos, el precio final dependerá de diversos factores  y se acordará individualmente en cada caso.
                        <br>
                        *Precios con tasas incluidas</h4>
                        <br>
                        
                            Desarrollado por NZ
                        
                    </footer>
                </div>
        </main>
</body>
</html>
