<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../assets/Logos/sagrada-familia.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Estudio de Arquitectura Cane-Galeria de fotos</title>
</head>
<body>
    <header class="header_menu">
        <div class="logo">
            <img  src="../assets/Logos/sagrada-familia.png" alt="Logo-Estudio de Arquitectura Cane"  >Estudio Cane de Arquitectura
        </div>
        <nav>
            <div>
                <ul class="menu_links">
                    <li><a href="https://www.instagram.com/estudio.cane/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/canejuan"target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a   href="../index.html">Inicio</a></li>
                    <li><a   href="./Filosofia.html">Filosofia</a> </li>
                    <li><a   href="./Equipo.html">Equipo</a> </li>
                    <li><a    href="./Proyectos.html">Proyectos</a></li>
                    <li><a    href="./Servicios.html">Servicios</a></li>
                    <li><a   href="./Contacto.html">Contacto</a>  </li>
                    
                </ul>
        </nav>
    </header>
        <main class="main_reformas">
            
                <h1>Proyecto de Reforma de vivienda</h1>
                <p>
                    <strong>Proyecto de Interiorismo de Reforma de Vivienda: </strong>
                    <br>
                    Al reformar su vivienda, con un proyecto de interiorismo, lograremos aumentar considerablemente su valor de mercado y convertirla en el inmueble de sus sueños. Tenemos experiencia en numerosas reformas, tanto de viviendas unifamiliares como de apartamentos. También hemos diseñado decenas de viviendas de lujo para celebridades en nuestro despacho de arquitectura.
                    <br>
                    


                    <strong>Incluye:</strong>
                    <br>
                    <strong>Proyecto de Interiorismo de vivienda:</strong>
                    <br>
                    -Planos de la nueva distribución y disposición de materiales de la  vivienda acorde a las normativas y las necesidades del cliente
                    -Perspectiva 3D de distribución Interior.
                    -Facilitar contratistas y operarios de obra para tirar adelante el proyecto en caso de que el cliente lo desee.
                    <br>

                    <strong>Proyecto de Interiorismo de vivienda + Dirección de Obra:</strong>
                    <br>
                    -Planos de la nueva distribución y disposición de materiales de la  vivienda acorde a las normativas y las necesidades del cliente
                    -Perspectiva 3D de distribución Interior.
                    -Gestiones legales necesarias para la ejecución de la obra y seguimiento con las visitas de obra pertinentes.
                    -Facilitar contratistas y operarios de obra para tirar adelante el proyecto en caso de que el cliente lo desee.

                    <div>
                        <a  href="./Contacto.html" button class="btn_venta"> 
                        </button>Pedi presupuesto para tu proyecto!</a>
                    </div>
                    


                </p>
                <footer class="footer_deprecios">
                    <h4>*Los precios mostrados son orientativos, el precio final dependerá de diversos factores  y se acordará individualmente en cada caso.
                        <br>
                        *Precios con tasas incluidas</h4>
                        <br>
                </footer>
            
        </main>

        


        <footer id="estilo-footer">
            Desarrollado por NZ
            <a href="https://github.com/NicolasZaffaroni" target="blank"><i class="bi bi-balloon"></i></a>
        
    </footer>
</body>
</html>